.container {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: Tahoma;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000000;
    /*color: #646464;*/
}

.r{
    font-size: 10px;
}

.main1 {
    background-color: #000000;
    font-family: Tahoma;
    padding-top: 10px;
    padding-bottom: 10px;
}

.odd {
    text-align: center;
    color: #666666;
    font-size: 15px;
}

.even {
    background-color: #1A1A1A;
    color: #f4f4f4;
    font-size: 10px;
    width: max-content;
}