.container {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
}

* {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: Tahoma;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000000;
    /*color: #646464;*/
}

.r{
    font-size: 10px;
}

.main1 {
    background-color: #000000;
    font-family: Tahoma;
    padding-top: 10px;
    padding-bottom: 10px;
}

.odd {
    text-align: center;
    color: #666666;
    font-size: 12px;
    padding: 15px;
    letter-spacing: 2px;
}

.even {
    color: #f4f4f4;
    font-size: 10px;
    text-align: center;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 140px;
    display: inline-block;
    font-weight: 100;
}

.number{
    font-family: Helvetica;
    color: #333333;
    font-size: 12px;
    padding: 10px;
    margin-left: 10px;
    display: inline-block;
}

.seeBtn {
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    font-style: normal;
    font-family: 'Muli',sans-serif;
    background-color: #DFDFDF;
    font-weight: 100;
}

.amexCard {
    width: 620px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.amex {
    width: 150px;
    padding-right: 130px;
}

.card {
    width: 95px;
    padding-right: 10px;
}

.account {
    text-align: right;
    font-size: small;
    margin-right: 15px;
    font-weight: 100;
    font-family: 'Muli',sans-serif;
}

.persons {
    width: 275px;
    float: end;
}

.request1 {
    color: white;
    background-color: #00175A;
    padding-top: 40px;
    font-family: 'Muli',sans-serif;
}

.request2 {
    color: white;
    background-color: #00175A;
    padding-bottom: 40px;
    font-family: 'Muli',sans-serif;
    margin-bottom: 3.5px;
}

.btnAdd {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1px;
    border-style: hidden;
    background-color: #00176A;
    color: white;
    font-size: medium;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Muli',sans-serif;
}

.cent1 {
    font-size: 5px;
    font-weight: 800;
    font-family: 'Muli',sans-serif;
}

.cent2 {
    font-size: 8px;
    font-weight: 800;
    font-family: 'Muli',sans-serif;
}

.textColor {
    color: #00176A;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Muli',sans-serif;
}

.vigenci {
    margin-bottom: 30px;
    font-size: 11px;
    text-align: center;
    color: #00176A;
    font-family: 'Muli',sans-serif;
}

.textSn {
    font-weight: bold;
    font-family: 'Muli',sans-serif;
}

.amexSolicitud {
    width: 620px;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
}

.card3 {
    width: 230px;
    padding-top: 40px;
}

.reqCard1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Muli',sans-serif;
    color: #00176A;
    background-color: #D6D6D3;
    margin-top: 55px;
    margin-left: 17px;
    padding-top: 40px;
    padding-left: 18px;
    padding-right: 18px;
}

.reqCard2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Muli',sans-serif;
    color: #00176A;
    background-color: #D6D6D3;
    margin-left: 17px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 38px;
}

.addCards {
    font-weight: 800;
}

.imgBenef {
    width: 620px;
    margin-top: 25px;
}

.benef {
    width: 620px;
    padding-bottom: 15px;
}

.iconsBenef {
    width: 620px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.imgCoffee, .imgCard, .imgPlane {
    width: 200px;
    margin: 1px;
}

.textIcons {
    background-color: #D6D6D3;
    font-family: 'Muli',sans-serif;
    width: 190px;
    height: 60px;
    font-size: 12px;
    margin: 1px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    color: #333333;
}

.textSec {
    background-color: #D6D6D3;
    font-family: 'Muli',sans-serif;
    width: 190px;
    height: 60px;
    font-size: 12px;
    margin: 1px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    color: #333333;
}

.textValid {
    font-weight: 200;
    font-size: 10px;
    font-size: 10px;
    text-align: center;
    color: #333333;
}

.btnIcons {
    text-align: center;
    padding-top: 40px;
}

.labelRew {
    width: 620px;
}

.imgRew {
    width: 620px;
    margin-top: 20px; 
}